.headerText{
    margin-top: 10px;
    margin-left: 700px;
    font-size: 18px;
    font: bold;
    
}
.topic{
    margin-top: 54px;
    margin-left: 368px;
    font-size: 18px;
    font: bold;
    
}